.container {
  /* display: grid;
  grid-template-columns: 30% 30% 30%; */
  flex-wrap: wrap;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 15%;
}
.profileContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.profileDetails {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  gap: 10px;
}
.profileDescription {
  display: flex;
  flex-direction: column;
}
.description_subContainer {
  display: flex;
  gap: 20px;
  font-size: 12px;
}
.description_key {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.description_value {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.status_description {
  border: 1px solid #20c997;
  color: #20c997;
  padding: 1px;
  padding-left: 12px;
  width: fit-content;
  border-radius: 10px;
  padding-right: 12px;
}
.QRCode_Container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.hrLine {
  margin-top: 20px;
  /* width: 1024px; */
  padding: 1px solid #b8c5d3;

  /* overflow: hidden; */
}
.paragraph ~ span {
  font-size: 13px;
  color: black;
}
