.newLine {
  height: 3px;
  width: 30px;
  border-radius: 10px;
  margin-left: 1px;
  background-image: linear-gradient(265deg, #ab183d, #e56056) !important;
}

.titles {
  font-weight: 600;
  font-size: 0.8rem;
  margin-bottom: 5px;
}
.hyperlinkText {
  color: #ab183d;
  text-decoration-line: underline;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
