.mainLoginView {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
}
.loginFlex1 {
  background-image: url("../../assets/img/Bharat-Tex-login.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  flex: 1;
  display: block;
  position: relative;
  width: 100%;
  /*padding: 40px;*/
  color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.loginFlex2 {
  /*background-color: #FBFBFB;*/
  flex: 1;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
}
.loginSignupText {
  text-align: left;
}

.bottomSignUp {
  font-size: .87rem;
  font-weight: 500;
}

.subText {
  margin: 20px 0px;
  font-weight: 400;
  /*font-size: 18px;*/
  text-align: justify;
}

.bottomContainer {
  position: absolute;
  bottom: 40px;
}

.headingText {
  text-align: center;
  color: black;
  font-size: 1.7rem;
  margin-bottom: 2px;
  /*font-family: CircularStd-Bold;*/
}

.bottomSignup {
  font-size: 0.8rem;
}

.forgotBtn {
  color: #cb404b !important;
  text-decoration: underline !important;
}
.otpWrap{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
.heading {
  margin-bottom: 30px;
  color: white;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.innerFlex {
  display: flex;
  align-items: center;
}
.icons {
  height: 70px;
  width: 70px;
}

.textRight {
  margin-left: 15px;
}

.titleText {
  font-size: 22px;
  font-family: "CircularStd-Book";
}

.subHeading {
  font-size: 14px;
}
.logFlex {
  margin-left: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 7px;
}

.negativeSpacing {
  margin-left: -20px;
}

.privacyLinks {
  bottom: 0;
}

.privacyFlex {
  display: flex;
  justify-content: space-between;
  padding: 5% 15%;
  font-weight: 600;
}

.bottomLinks {
  font-size: 0.7rem;
  color: #5f63f2;
}

.signContainer {
  padding: 7%;
  padding-bottom: 10%;
  border-radius: 10px;
  box-shadow: 0 0 8px rgb(0 0 0 / 15%);
  /*padding: 1.2rem;*/
  background: white;
  margin: 10%;
}

.login {
  padding: 15px 60px 15px 60px !important;
  color: white !important;
  background-image: linear-gradient(265deg, #1bb584, #1bb584) !important;
  border: 1px solid white !important;
  margin-top: 15px !important;
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  width: 100%;
  border-radius: 30px !important;
  font-weight: 600 !important;
}

.logoImg {
  text-align: center;
}

.sky {
  height: 60px;
}
.des {
  text-align: center;
  font-size: 0.87rem;
  font-weight: 400;
}
.centerLine {
  width: 400px;
  border: 3px solid transparent;
  border-image: linear-gradient(to right, green, lightgreen);
  border-image-slice: 1;
  padding: 25px;
}

.newLine {
  height: 5px;
  width: 30px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  background-image: linear-gradient(265deg, #cb404b, #cb404b) !important;
}

@media (max-width: 767px) {
  .mainLoginView {
    flex-direction: column;
  }
  .loginFlex2 {
    margin: 10% 4%;
  }
  .loginFlex1 {
    display: none;
    /* min-height: 240px; */
  }
  .signContainer {
    margin: 0%;
  }
}
